<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Change Password</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="./materialize/css/materialize.min.css">
    </head>

    <body>

        <form method = "post" action = "/password_change">
            <input type = "password" required = "" name = "old_password" id = "oldpassword" placeholder = "Old Password" />
            <input type = "password" required = "" name = "new_password" id = "newpassword" placeholder = "New Password" />
            <input type = "password" required = "" name = "cnew_password" id = "cnewpassword" placeholder = "Confirm New Password" />

            <input type = "submit" value = "Change Password" />

        </form>

    </body>

</html>
